.head {
    background-image: url(https://lh4.googleusercontent.com/7_OQ2AS3ot_7gxfiaHfbqPKr9PpHsgOSfZigtCAsVSScprrjLlbmYA4ejJw7otuAazcwgkx6XPawAcgA1wbseg=w16383);
    background-size: cover; 
    background-position: center center;
    height: 380px;
    overflow: hidden;
}
.logo2 {display: inline-block;color: white;font-size: 20px;font-family: Arial, Helvetica, sans-serif;float: left;padding: 15px;padding-left: 0px;padding-top: 5px;}
.logo {float: left;margin: 8px;}
.nav {background-color: black;padding-right: 40px;padding-top: 4px;overflow: hidden;width: 100px;float: right;}
.links {color: rgba(255, 255, 255, 0.7);text-decoration: none;padding: 20px;display: inline-block;float: left;font-family: Arial, Helvetica, sans-serif;font-size: 100%;background-color: black;}
.links:active {border: 1px dotted white;}
.aboutsite {font-size: 380%;font-family: Georgia, 'Times New Roman', Times, serif;color: red;text-align: center;padding: 0;padding-top: 130px;}
.about-heading {background-color: rgba(18, 93, 122, 1);overflow: hidden;height: 100px;}
.about-heading-text {color: black;font-family: Georgia, 'Times New Roman', Times, serif;font-size: 200%;text-align: center;padding-top: 10px;}
.about-text-box {background-color: rgb(131, 24, 24);overflow: hidden;}
.about-text {color: lime;font-family: Georgia;font-size: 200%;padding-top: 30px;padding-bottom: 40px;padding-left: 20px;padding-right: 15px;}
span {color: yellow;}
.wllink {color: lime;}
.qlink {color: lime;}
.tosmall {font-size: 80%;}
.forany {padding-top: 30px;padding-bottom: 40px;padding-left: 20px;padding-right: 15px;}
.foranyq {font-size: 170%;font-family: Georgia;}
.email {padding: 20px;background-color: rgba(0, 0, 180, 1);color: white;text-decoration: none;display: block;width: 200px;border-radius: 20px;padding-top: 20px;
        font-size: 140%;font-family: Georgia;text-align: center;}
.email:active {color: black;border: 4px solid rgba(0, 0, 180, 1);background-color: white;transition: .4s;}
.cheers {font-size: 300%;font-family: Georgia;color: red;padding-top: 40px;}
.last {background-color: rgba(0, 0, 0, 0.8);height: 180px;}
.developed {color: white;font-size: 120%;font-family: Arial, Helvetica, sans-serif;text-align: center;padding-top: 40px;}
.copyright {color: white;font-size: 120%;font-family: Arial, Helvetica, sans-serif;text-align: center;}
.creator {color: white;}
.site-link {color: white;}
.total-visits {color: white;text-align: center;font-family: Arial, Helvetica, sans-serif;}