.head {
    background-image: url('Header-theme.gif');
    background-size: cover; 
    background-position: center center;
    height: 360px;
    overflow: hidden;
}
.logo2 {display: inline-block;color: white;font-size: 20px;font-family: Arial, Helvetica, sans-serif;float: left;padding: 15px;padding-left: 0px;padding-top: 5px;}
.logo {float: left;margin: 8px;}
.nav {display: none;}
.links {color: rgba(255, 255, 255, 0.7);text-decoration: none;padding: 20px;display: inline-block;float: left;font-family: Arial, Helvetica, sans-serif;font-size: 100%;background-color: black;}
.links:active {border: 1px dotted white;}
.winner-list {font-size: 340%;font-family: Georgia, 'Times New Roman', Times, serif;color: red;text-align: center;padding: 0;padding-top: 140px;}
.winner-list-heading {background-color: rgba(18, 93, 122, 1);overflow: hidden;height: 100px;}
.winner-list-heading-text {color: black;font-family: Georgia, 'Times New Roman', Times, serif;font-size: 200%;text-align: center;padding-top: 10px;}
.last {background-color: rgba(0, 0, 0, 0.8);height: 240px;}
.developed {color: white;font-size: 120%;font-family: Arial, Helvetica, sans-serif;text-align: center;padding-top: 40px;}
.copyright {color: white;font-size: 120%;font-family: Arial, Helvetica, sans-serif;text-align: center;}
.creator {color: white;}
.site-link {color: white;}
.total-visits {color: white;text-align: center;font-family: Arial, Helvetica, sans-serif;}
